#navbar {
  display: none; /* Hide the navbar by default */
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
}

/* Add a class to show the navbar for smaller screens */
#navbar.show {
  display: flex;
}

/* Your existing styles for navbar */
/* ... */

/* Hamburger icon styles */
.hamburger {
  display: none;
  cursor: pointer;
  padding: 10px;
  background: transparent;
  border: none;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #0e0d0d;
  margin: 5px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block; /* Show the hamburger icon for smaller screens */
  }

  #navbar {
    flex-direction: column; /* Stack items vertically for smaller screens */
    text-align: center; /* Center align items */
  }

  /* Your additional responsive styles */
  /* ... */
}
